server.jar
fabric-server-launch.jar
logs/
crash-reports/
usercache.json
banned-ips.json
banned-players.json
ops.json.bak
*.tmp
*.lock.bak
digest.txt
player.config
.DS_Store
Thumbs.db
libraries/
.fabric/
fabric-installer.jar